[Unit]
Description=Keycloak Service
After=syslog.target network.target
Before=httpd.service
StartLimitIntervalSec=0

[Service]
Environment="KEYCLOAK_ADMIN=admin"
Environment="KEYCLOAK_ADMIN_PASSWORD=password"
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak/bin/kc.sh start-dev
WorkingDirectory=/opt/keycloak/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
